html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 3rem 0;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.small-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 20rem;
}

.small-container:first-child {
    align-items: flex-start;
}

.small-container:last-child {
    align-items: center;
}

.sprite-grid {
    width: 100%;
    height: 22rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprite-name {
    width: 100%;
    height: 3rem;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#types-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.button-container.arrows {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;              
    margin-top: 1.5rem;
}

.button-container.arrows img {
    width: 3rem;
    height: 3rem;
}

.info-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.info-container {
    width: 100%;
    height: 24rem;
    background-color: #d3d3d3;
    padding: 1.25rem;
    font-size: 1.5rem;
}

.button-container.tabs {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.info-button,
.moves-button {
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #e5e5e5;
    font-size: 1.2rem;
    cursor: pointer;
}

.info-button.active,
.moves-button.active {
    background-color: #7CFF7C;
}